# Node.js
node_modules/

# Build output
dist/

# Firebase
.firebase/

# IDE and editor files
.prepos.config

# Dependency lock files
package-lock.json

# Compiled output
*.map

# Firebase configuration file
.firebaserc

# Ignore logs
*.log

# OS-specific files
.DS_Store
Thumbs.db