@font-face {
  font-family: 'mine-sweeper';
  src: url('multimedia/fonts/mine-sweeper.ttf') format('truetype');
}

@font-face {
  font-family: 'teko';
  src: url('multimedia/fonts/teko.ttf') format('truetype');
}

@font-face {
  font-family: 'tech';
  src: url('multimedia/fonts/tech.ttf') format('truetype');	
}

body {
	margin: 0;
	overflow-x: hidden;
	font-family: 'teko', 'minesweeper';
}

a {
	color: #001EC1;
	text-decoration: none;
}

p {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.main-game {
	display: grid;
}

.input-box-size {
	border-radius: none;
	font-family: 'teko';
	width: 30px;
	height: 25px;
	font-size: 25px;
}

.main-game-container {
	background-color: #CDCFD0;
	border: 3.5px outset;
	padding: 10px;
	border-top: none;
	display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
.main-game2 {
	display: grid;
	border: 3.5px inset;
	font-family: 'mine-sweeper';
	/*-webkit-box-shadow: inset 3px 3px 0px 0px rgba(255,255,255,1), inset -3px -3px 0px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 3px 3px 0px 0px rgba(255,255,255,1), inset -3px -3px 0px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.4), -3px -3px 0px -2px rgba(255,255,255,1);*/
}

.playground {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.game-info-decorative {
	width: inherit;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 3.5px inset;
	margin: 10px;
	flex: 1;
}
.time-stopwatch, .mines-container {
	width: 70px; /* Fixed width for the stopwatch */
	border: 3px inset;
	user-select: none;
}

.game-info-decorative > * {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: content-box;
}

.game-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-width: 258px;
}

.game-row {
	display: flex;
	flex-wrap: wrap;
	align-items: space-around;
}
.single-element {
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0;
}

.single-element div {
	width: 100%;
	height: 100%;
}
.opened-div {
	box-sizing: border-box;
	background-color: #CDCFD0;
	border: 1px solid #7B7B7B;
	cursor: default;
	user-select: none;
	background-size: 80%;
	background-position: center center;
	background-repeat: no-repeat;
}

.game-info-container {
	width: 100%;
	background-color: #CDCFD0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 3.5px outset;
	border-bottom: none;
	box-sizing: border-box;

}

.game-button {
	box-sizing: border-box;
	border: 3.5px outset;
	/*background-color: #C7C7C7;*/
	/*background-image: url('multimedia/icons/one_tile.svg');*/
	/*-webkit-box-shadow: inset 3px 3px 0px 0px rgba(255,255,255,1), inset -3px -3px 0px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 3px 3px 0px 0px rgba(255,255,255,1), inset -3px -3px 0px 0px rgba(0,0,0,0.3);
	box-shadow:inset -3px -3px 1px 0px rgba(0,0,0,0.3), inset 3px 3px 1px 0px rgba(255,255,255,1);*/
}

.flagged {
	display: flex;
	justify-content: center;
	align-items: center;
}

.mines-container {
	display: flex;
	font-family: tech;
	font-size: 45px;
}

.time-stopwatch {
	display: flex;
	margin: 7px 0;
	font-family: tech;
	font-size: 45px;
}

.box-settings-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.highscore-text-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.highscore-text-container h2 {
	font-size: 45px;
	margin-block-end: 0;
    margin-top: 50px;
}


.game-status {
	display: inline-block;
	padding: 0 !important;
    overflow: hidden;
    white-space: nowrap;
    width: 35px;
    height: 35px;
	background-color: #CDCFD0;
	border: 3.5px outset;
	background-image: url("multimedia/images/default.png");
	background-repeat: no-repeat;
	background-size: 75%;
	background-position: center;
}

.game-status:hover {
	cursor: pointer;
}

.game-status:active {
	border: 3.5px inset;
	background-position: right 3.5px bottom 3.5px;
}

.highscore-table {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 25px;
	font-size: 25px;
}

table.highscore {

}
.menu-main {
	font-size: 25px;
	display: flex;
	justify-content: center;
	margin: 10px;
}
.menu-main > * {
	padding: 0 5px;
}


.highscore-table-container {
	display: flex;
	flex-direction: column;
	min-width: 150px;
}

.box-menu {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: auto;
	display: none;
	/*justify-content: center;
	align-items: center;*/
	z-index: 2;
}

.box-size {
	display: none;
}

.box-size table {
	border-spacing: 5px;
	margin: 10px;
}
.box-size td {
	padding: 0 15px;
}

.box-controls, .box-size {
	min-width: 300px;
	
	background-color: #fff;
	display: none;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	position: absolute;
	left: 75px;
	top: 25px;
	z-index: 3;
	font-size: 25px;
	-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.3);
}

.box-controls table {
	border-collapse: collapse;
	border-spacing: 5px;
}
.controls-table {
	margin: 0 20px;
}

.controls-top {
	width: 100%;
	display: flex;	
	justify-content: space-between;
	align-items: center;
	background-color: #CDCFD0;
}

.controls-top p {
	font-size: 35px;
}

.controls-top > * {
	margin: 10px 20px;
}

.size-button-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.box-menu input[type="button"] {
	border: 3.5px outset;
	background-color: #CDCFD0;
	font-family: 'teko';
	font-size: 25px;
	margin: 10px;
	margin-bottom: 20px;
	padding: 5px 15px;
}

.box-menu input[type="button"]:active {
	background-position: right 3.5px bottom 3.5px;
	border: 3.5px inset;
	padding: 7px 13px 3px 17px;
}

.close-controls {
	width: 30px;
	height: 30px;
	background-image: url("multimedia/icons/close.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.new-hs-container {
	display: none;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	margin: 10px 0;
}


@media screen and (max-width: 600px) {
	.highscore-table {
		flex-direction: column;
	}

}