body {
	margin: 0;
	overflow-x: hidden;
}
.main-game {
	display: grid;

}
.main-game2 {
	display: grid;
}

.playground {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.game-row {
	display: flex;
	flex-wrap: wrap;
	align-items: space-around;
}
.single-element {
	border: 1px solid;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0;
}

.single-element button {
	width: 100%;
	height: 100%;
}


.mines-container {
	display: flex;
}

.mines-container p { 

}

.time-stopwatch {
	display: flex;
	margin: 7px 0;
}

.box-settings-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 25px 0;
}
.highscore-text-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.game-status {
	display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px 15px;
	background-color: #cc7c84;
}

.game-status:hover {
	cursor: pointer;
}

.highscore-table {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 25px;
}

table.highscore {

}

.highscore-table-container {
	display: flex;
	flex-direction: column;
	min-width: 150px;
}

.box-menu {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: auto;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.box-size {
	display: none;
}

.box-controls, .box-size {
	min-width: 300px;
	border: 1px solid #000;
	background-color: #fff;
	display: none;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	position: absolute;
	z-index: 2;
}

.box-controls table {
	margin: 0px 10px;
}

.controls-top {
	width: 100%;
	display: flex;	
	justify-content: space-between;
	padding: 0 10px;
	align-items: center;
}

.controls-top > * {
	margin: 10px;
}

.close-controls {
	width: 25px;
	height: 25px;
	background-color: red;
}